<p>pedidosdetails works!</p>
<form (ngSubmit)="salvar()">


  <h2 *ngIf="pedido.usuario == null">Nenhum usuário associado</h2>
  <h2 *ngIf="pedido.usuario != null">Usuário: {{pedido.usuario.nome}}</h2>
  <button type="button" class="btn btn-primary" (click)="lancarUsuario(modal2)">Vincular usuário</button>

  <div class="mb-3">
    <label for="exampleInputText1" class="form-label">Nome:</label>
    <input type="text" class="form-control" name="exampleInputNome1" aria-describedby="emailHelp"
      [(ngModel)]="pedido.nome">
  </div>
  <div class="mb-3">
    <div class="form-floating ">
      <textarea class="form-control" placeholder="Leave a comment here" [(ngModel)]="pedido.observacao"
        name="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">Observacao</label>
    </div>
  </div>
  <div class="mb-3">
    <select [(ngModel)]="pedido.entrega" class="form-select" aria-label="Default select example" name="select1">
      <option [ngValue]="undefined">Selecione uma Opção</option>
      <option [ngValue]="true">Entregar</option>
      <option [ngValue]="false">Balcao</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="lancar(modal1)">Lançar produto</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">tamanho</th>
        <th scope="col">Nome</th>

        <th scope="col">Acoes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pedido.item; let i = index">
        <th scope="row">{{ item.id }}</th>
        <td> {{ item.tamanho }} </td>
        <td> {{ item.nome }} </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deletar(item,i)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- criar componenet modal de enderecos lista -->
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>


<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <app-itemslista [modoLancamento]="true" (retorno)="retornoItemLista($event)"></app-itemslista>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #modal2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <app-pessoaslista [modoLancamento]="true" (usuarioRetorno)="receberUsuario($event)"></app-pessoaslista>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
